* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --content-width: 117rem;
  --header-color: #fffcf4;
  --active-color: #171100;
  --heading-font: Sen, sans-serif;
}
/* CSS */
/* Header */
.header {
  background-color: var(--header-color);
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.content {
  width: var(--content-width);
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.header-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 0 8px;
}
.navbar {
  margin-left: auto;
}
.navbar__list {
  display: flex;
}
.navbar__link {
  font-size: 1.6rem;
  text-align: center;
  color: #5f5b53;
  padding: 8px 21px;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}
.navbar__link.navbar__active {
  font-weight: 600;
  color: var(--active-color);
}
.navbar__link.navbar__active::before {
  content: "";
  width: 1.2rem;
  height: 2px;
  border-radius: 1px;
  background-color: var(--active-color);
  position: absolute;
  bottom: 6px;
  left: 21px;
}
.navbar__link:hover,
.navbar__link.navbar__active:hover {
  text-shadow: 1px 0 0 currentColor;
  color: var(--active-color);
}
.action {
  margin-left: 4.9rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  border: 0;
  border-radius: 2.45rem;
  background-color: var(--active-color);
  color: #fff;
  min-width: 11.8rem;
  text-align: center;
  padding: 17px 16px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 1.6rem;
}
.btn.btn--header {
  min-width: 14.4rem;
}
/* Hero */
.hero {
  padding: 56px 0 65px 0;
  background-color: var(--header-color);
}
.hero-body {
  display: flex;
  align-items: center;
}
.hero-media {
  flex-basis: 48%;
  max-width: 48%;
  position: relative;
}
.hero-media__img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 2rem;
  vertical-align: bottom;
}
.hero-summary {
  position: absolute;
  right: 0;
  bottom: 4.8rem;
  background: #ffffff;
  box-shadow: 0px 1.6rem 3.2rem rgba(0, 0, 0, 0.05);
  border-radius: 1.2rem;
  padding: 2.4rem;
  width: 27rem;
}
.hero-item {
  min-width: 15.8rem;
  display: flex;
  align-items: center;
}
.hero-item:nth-child(2) {
  margin: 1.4rem 0;
}
.hero-icon {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #fff9e8;
  border-radius: 50%;
  display: flex;
  margin-right: 1.6rem;
}
.hero-icon--bg-first {
  background-color: #fff9e8;
}
.hero-icon--bg-second {
  background-color: #fcefff;
}
.hero-icon--bg-third {
  background-color: #ebeaff;
}
.hero-icon img {
  margin: auto;
}
.hero-desc__text {
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}
.hero-desc__about {
  display: block;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--active-color);
}
/* Hero right */
.hero-content {
  max-width: 52%;
  flex-basis: 52%;
  padding: 64px 0 0 130px;
}
.hero-content__heading {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--active-color);
}
.hero-content__desc {
  max-width: 47rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
  margin: 2.2rem 0 3.8rem;
}
.hero-view {
  display: flex;
  align-items: center;
}
.btn.btn--hero {
  background: #ffb900;
  border-radius: 32px;
  min-width: 18rem;
  padding: 24px 16px;
}
.hero-view {
  margin: 0 2.8rem 4.8rem 0;
}
.hero-play {
  display: flex;
  align-items: center;
}
.hero-play__icon {
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  margin: 0 1.4rem 0 2.8rem;
}
.hero-play__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-play__text {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--active-color);
}
.hero-content__recent {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
  margin-bottom: 8px;
}
.hero-count__item {
  display: inline-block;
  margin-right: 2.8rem;
}
.hero-count__item p {
  font-weight: 400;
  font-size: 1.8rem;
  color: #5f5b53;
  user-select: none;
}
.hero-count__item strong {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}
